.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
static/assets/css/.sass-cache
static/assets/css/main.css.map

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
